

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kellton Tech</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:4200">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </div>
</nav>
  <td><button class="btn btn-info"> Add </button></td>
    <td><button class="btn btn-info"> Edit </button></td>
      <td><button class="btn btn-info" (click)="deleteComics()"> Delete </button></td>
<div class="col-md-6" width:200px style="float:left; margin:0px 0px 0px 300px">

    <div class="row">

    <div class="col-md-4">

    <div class="container" *ngFor="let items of comics">
    <label>Name: </label>{{items.Name}}<br/>
    <label>Season_id: </label>{{items.Season_id}}<br/>
    <label>Story </label>{{items.Story}}<br/>
    <label>starts_on</label>{{items.starts_on}}<br/>
    <label>ends_on</label>{{items.ends_on}}<br/>
    <label>created_at</label>{{items.created_at}}<br/>

    </div>
    </div>
    </div>
